# Copyright (c) 2016-2025 Martin Donath <martin.donath@squidfunk.com>

# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to
# deal in the Software without restriction, including without limitation the
# rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
# sell copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:

# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.

# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
# IN THE SOFTWARE.

# Project information
site_name: Playroom Security 
site_url: https://github.com/canyakora1
site_author: D-cyberguy
site_description: >-
  A quick guide to get started in the world of cybersecurity and ethical hacking.
  Learn the basics, explore tools, and embark on your journey to becoming a skilled ethical hacker.
  Perfect for beginners eager to dive into cybersecurity.
  Start your adventure today!

# Repository
repo_name: dcyberguy/playroom-security
repo_url: https://github.com/canyakora1
# Copyright
copyright: Copyright &copy; 2024 - 2028 D-cyberguy

# Configuration
theme:
  name: material
  custom_dir: material/overrides
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.code.select
    # - content.footnote.tooltips
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    # - navigation.instant
    # - navigation.instant.prefetch
    - navigation.instant.progress
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/favicon.png
  icon:
    logo: logo

# Plugins
plugins:
  - blog
  - glightbox
  - search:
      separator: '[\s\u200b\-_,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - minify:
      minify_html: true

# Hooks
hooks:
  - material/overrides/hooks/shortcodes.py
  - material/overrides/hooks/translations.py

# Additional configuration
extra:
  status:
    new: Recently added
    deprecated: Deprecated
  analytics:
    provider: google
    property: G-2N2K0SYY1B
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/emoticon-happy-outline
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/emoticon-sad-outline
          name: This page could be improved
          data: 0
          note: >- 
            Thanks for your feedback! Help us improve this page by
            using our <a href="..." target="_blank" rel="noopener">feedback form</a>.
  extra_css:
  - stylesheets/extra.css
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/canyakora1
    - icon: fontawesome/brands/aws
      link: https://playroom-cloudsec.com
    - icon: fontawesome/brands/x-twitter
      link: https://x.com/playroomsec
  


# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      normalize_issue_symbols: true
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.blocks.caption
  - pymdownx.snippets:
      auto_append:
        - includes/mkdocs.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

not_in_nav: |
  /tutorials/**/*.md

# Page tree
nav:
  - Home: index.md

  - Getting started:
    - OSI Model: osi-model.md
    - Active Directory: active-directory.md
    - Home Lab - Proxmox: proxmox-home-lab.md
    - Home Lab - VMWare: vmware-home-lab.md
    - Alternatives: alternatives.md

  - Pentesting Notes:
    - Pentesting-Notes/index.md
    - Windows:
      - "Pentesting":
        - Pentesting-Notes/Windows/Pentesting/reconnaissance.md
        - Pentesting-Notes/Windows/Pentesting/enumeration.md
        - Pentesting-Notes/Windows/Pentesting/SMB-Enumeration.md
        - Pentesting-Notes/Windows/Pentesting/LDAP.md
        - Pentesting-Notes/Windows/Pentesting/MSSQL.md
        - Pentesting-Notes/Windows/Pentesting/RDP.md
        - Pentesting-Notes/Windows/Pentesting/kerberos.md
        - Pentesting-Notes/Windows/Pentesting/LLMNR-poisoning.md
        - Pentesting-Notes/Windows/Pentesting/Privilege-Escalation.md
        - Pentesting-Notes/Windows/Pentesting/Post-Exploitation.md   
        - Pentesting-Notes/Windows/Pentesting/Persistence.md
        - Pentesting-Notes/Windows/Pentesting/bloodhound.md
        - Pentesting-Notes/Windows/Pentesting/Command-and-Control.md
        - Pentesting-Notes/Windows/Pentesting/Certificate-Authority.md
        - Pentesting-Notes/Windows/Pentesting/Delegation.md
    - Linux:
      - "Pentesting":
        - Pentesting-Notes/Linux/Pentesting/reconnaissance.md
        - Pentesting-Notes/Linux/Pentesting/enumeration.md
        - Pentesting-Notes/Linux/Pentesting/FTP.md
        - Pentesting-Notes/Linux/Pentesting/LDAP.md
        - Pentesting-Notes/Linux/Pentesting/MySQL.md
        - Pentesting-Notes/Linux/Pentesting/SSH.md
        - Pentesting-Notes/Linux/Pentesting/Privilege-Escalation.md
        - Pentesting-Notes/Linux/Pentesting/Post-Exploitation.md   
        - Pentesting-Notes/Linux/Pentesting/Persistence.md
        - Pentesting-Notes/Linux/Pentesting/Command-and-Control.md
    
    - Cloud:
      - "AWS":
        - Pentesting-Notes/Cloud/AWS/reconnaissance.md
        - Pentesting-Notes/Cloud/AWS/enumeration.md
        - Pentesting-Notes/Cloud/AWS/privilege-escalation.md
        - Pentesting-Notes/Cloud/AWS/post-exploitation.md
        - Pentesting-Notes/Cloud/AWS/persistence.md
      - "Azure":
        - Pentesting-Notes/Cloud/Azure/reconnaissance.md
        - Pentesting-Notes/Cloud/Azure/enumeration.md
        - Pentesting-Notes/Cloud/Azure/privilege-escalation.md
        - Pentesting-Notes/Cloud/Azure/post-exploitation.md
        - Pentesting-Notes/Cloud/Azure/persistence.md
      - "GCP":
        - Pentesting-Notes/Cloud/GCP/reconnaissance.md
        - Pentesting-Notes/Cloud/GCP/enumeration.md
        - Pentesting-Notes/Cloud/GCP/privilege-escalation.md
        - Pentesting-Notes/Cloud/GCP/post-exploitation.md
        - Pentesting-Notes/Cloud/GCP/persistence.md




  - HTB:
    - htb/index.md
    - Labs:
      - htb/labs/index.md
      - "Easy":
          - htb/labs/easy/bastion-retire.md
          - htb/labs/easy/forest-retire.md
          - htb/labs/easy/cicada-retire.md
  #     - "Medium":
  #       - labs/medium/basic.md
  #       - labs/medium/custom.md
  #     - "Hard":
  #       - labs/hard/basic.md
  #       - labs/hard/navigation.md
  #       - labs/hard/engage.md
  #   - Academy:
  #     - index.md
  #     - "Easy":
  #       - academy/blogs/basic.md
  #       - academy/blogs/navigation.md
  #       - academy/blogs/engage.md
  #     - "Medium":
  #       - academy/social/basic.md
  #       - academy/social/custom.md
  #     - "Hard":
  #       - academy/blogs/basic.md
  #       - academy/blogs/navigation.md
  #       - academy/blogs/engage.md
    
  - TryHackme:
      - TryHackme/index.md

  - GOAD:
      - GOAD/index.md
      - GOAD/installation.md
      - GOAD/enumeration.md
      - GOAD/sevenKingdoms.md
      - GOAD/North.md
      - GOAD/castleBlack.md
      - GOAD/braavos.md
      - GOAD/meereen.md
  #   - Extensions:
  #     - setup/extensions/index.md
  #     - Python Markdown: setup/extensions/python-markdown.md
  #     - Python Markdown Extensions: setup/extensions/python-markdown-extensions.md
  - HackSmarter-Labs:
      - HackSmarter-Labs/index.md
      - HackSmarter-Labs/welcome.md
      - HackSmarter-Labs/slayer.md
      - HackSmarter-Labs/arasaka.md
      - HackSmarter-Labs/ascension.md

  - PwnLabs:
       - PwnLabs/index.md

  - Donations:
      - Donations/index.md

